# Clone o arquivo no seu ambiente local, 
# preencha com os valores corretos de ambiente e renomeie para .env
# Comando: cp .env.example .env

# Porta de execução da API
PORT=3000

# Conexão com o Postgres.
#Atenção: Use apenas uma das conexões abaixo, comente a que não for utilizada.
#Não rode migrations em produção, apenas no local. Conexão com Neon apenas quando necessário.

# # Neon: pegue os valores em Dashboard > Connect > "Parameters only".
# DB_HOST=
# DB_PORT=
# DB_USER=
# DB_PASSWORD=
# DB_NAME=


# Postgres local: DB_HOST=localhost e DB_SSL=false.
DB_HOST=localhost
DB_PORT=5433
DB_USER=hubee
DB_PASSWORD=hubee
DB_NAME=hubee


# true para Neon (exige TLS), false para Postgres local
DB_SSL=false